{% extends "base.html" %}
{% load i18n %}

{% block header_bar %}
{% endblock %}

{% block body_container %}
    <style type="text/css">
        #custom_footer a {
            color: white;
        }
        #bottom_line{
            display: none;
        }
        #home-footer {
            margin-top: 145px;
        }
        #home-footer > hr {
            margin: 0px;
            border-top: 1px solid #5C7E91;
            border-bottom: 1px solid #89BBD9;
        }
        #home-footer > div.row-fluid > div.span12 {
            margin-top: 12px;
            margin-left: 140px;
        }
        #home-footer > div.row-fluid > div.span12 > div.span2 {
            width: 140px;
            text-align: center;
            margin: 0px;
        }
        #home-footer > div.row-fluid > div.span12 > div.span2 > a {
            color: #4C6878;
            font-size: 12px;
        }
        body{
            background-color: #749fb8;
            background-image: url(/static/img/homepage_bg.jpg);
            //background-repeat: repeat-x;
        }
        #uvTab {
            display: none !important;
        }
        div.container-fluid {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
    </style>
    <!-- FIXME all the inline css should be converted to external -->
    <img src="/static/img/badge.png" style="position: absolute; top: 0px; left: 23px"/>
    <div class="home hero-unit" style="display: table; text-align: center; width: 700px; height: 500px;position: absolute; top: 110px; padding: 0px; margin-bottom: 0px; left: 50%; margin-left: -350px; background: transparent url('/static/img/hello-avatars.png') top left no-repeat;">
	   <div style="margin-top: -40px">
            <div style="padding: 0px 135px 0px 175px; color: #333; text-shadow: 1px 1px 2px #EEE;">
                <h2 style="font-size: 80px; line-height: 50px;font-family: Pacifico; font-weight: 100">Me Too!</h2>
                <p style="font-size: 25px; line-height: 38px; margin-top: 80px">
                    rediscover your friends
                </p>
                <p><a target="_parent" href="{% url socialauth_begin 'facebook' %}" class="btn btn-primary btn-large" style="margin-top: 25px; cursor: pointer">Connect with <b>Facebook</b> &raquo;</a></p>
            </div>
	   </div>
       <div id="home-footer">
            <hr/>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span2"><a href="/about/">About</a></div>
                    <div class="span2"><a href="/terms/">Terms</a></div>
                    <div class="span2"><a href="/privacy/">Privacy</a></div>
                </div>
            </div>
       </div>
    </div>

{% endblock %}
